// Layout
$gutter-xlg: 3em;
$gutter-lg: 2em;
$gutter: 1em;
$gutter-sm: .5em;
$gutter-xsm: .25em;
// $bg-image: '../public/background.jpeg';

$transparent: rgba(0, 0, 0, 0);
$black: #000;
$black18: #121212;
$midnight-blue: rgb(38, 47, 56);

$grey: #818d92;
$feldgrau: #586A6A;
$khaki: #B9A394;
$silver: #D4C5C7;
$lavendar: #DAD4EF